@import "tailwindcss";

/* Base styles */
body {
  /* background-color: var(--background); */
  font-family: var(--font-poppins, system-ui, sans-serif);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}